#php
php_data/sessions/
php_data/php.log
#webskel files
RIT_WEB_README
#web config vars
configvars.xml
#git 
.git
#svn
.svn
#misc
dead.letter
#Drupal
DrupalFiles/css/**
DrupalFiles/js/**
www/DrupalFiles/css/**
www/DrupalFiles/js/**
#campus
www/application/logs/
www/assets/app/images/home_images/
www/assets/app/images/tinymce_images/
www/assets/app/images/tinymce_thumbs/
www/assets/app/submitted_docs/
www/logs
www/logs/honors/
www/logs/*#php
www/logs/#php
www/logs#php
www/portfolio/application/logs/
www/selfstatement/application/cache/
www/selfstatement/application/core/MY_Loader.php
www/selfstatement/application/core/MY_Router.php
www/selfstatement/application/modules/hb_core
www/selfstatement/application/third_party/MX
www/selfstatement/assets/app/templates/
www/selfstatement/logs/
#joomla
www/administrator/cache
www/cache
www/cache/index.html
www/logs